################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/goals for week 9.txt
