table {
    border: 2px solid black;
    table-layout: fixed;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

td{
        padding: 10px;
        border-collapse:collapse;
        

}

th{
    text-align: center;
    padding: 7px;
    background-color: #5b7d1c;
}

   tr:nth-child(even) {
    background-color: gray;
    
    
}

tr:nth-child(odd){
    background-color: white;
    
    
}

body {
    margin: auto;
    color: #15161C;
    background: #c8c8c8;
    font: 600 16px/18px Arial, small-caps;
}

*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:center}
.clearfix:after{clear:both;display:center}
a{color:inherit;text-decoration:none}

.landing-wrap {
    width: 100%;
    margin: none;
    max-width: 100%;
    min-height: 100%;
    position: absolute;
    background: url(https://www.pointpark.edu/admissions/undergraduate/fulltimeundergraduate/media/admissions/ftadmissions/schafer_village_park_110922_cropped_big.jpg) no-repeat center;
    background-size: contain;
    background-attachment: fixed;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.landing-html {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 70px 50px 70px;
    background: rgba(40,57,101,.9);
    background-attachment: fixed;
}